<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>
<div class="digg_pagination">
    <div class="page_info">
      <%#= page_entries_info @departaments %>
    </div>

    <table id="ta-deparment-list">
      <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Country</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render( @departaments ) %>
    </tbody>
    </table>
  <%= paginate @departaments %>
  <%#= will_paginate @departaments, :container => false %>
  </div>
